%head
  %h1 Member profile
  #map-canvas

  %hr

  = @user.username
  %br
  = @user.town_city
  %br
  = @user.country
  %br
  = image_tag @user.avatar
  %br
  = @user.description

  %hr
  
  = form_for @image do |f| 
    .field
    = f.label :image
    = f.file_field :image
    .actions
    = f.submit 'Save'  
  
  %h2 My images
  %ul
  #slider.nivoSlider
    %img
      - @user.images.each do |image|
        = image_tag image.image_url

 
  :javascript
  $(window).load(function() {
      $('#slider').nivoSlider();
  });

  :javascript
    window.user_location = {lat: #{@user.lat}, lon:#{@user.lon}}