%head
  %h1 #{@user.username}'s profile
  %hr
  .row
    .col-md-2
      = image_tag @user.avatar
    .col-md-3
      Username: 
      = @user.username
      %br
      Location: 
      = @user.town_city
      %br
      Country: 
      = @user.country
      %br
      
      = @user.description
    .col-md-3 
      #map-canvas

  %hr

  %h3 Send a message to this user
  

  %hr
  
  = form_for @image do |f| 
    .field

    -if current_user  
      %br Upload images of your triumphs (and tragedies)
      %br
      = f.file_field :image
      %br
      .actions
      = f.submit 'Save'  
 
  -if @user.images.present?
    %h2 #{@user.username}'s photos
    %ul
    #slider.nivoSlider
      %img
        - @user.images.each do |image|
          = image_tag image.image_url
  

 
  :javascript
  $(window).load(function() {
      $('#slider').nivoSlider();
  });

  :javascript
    window.user_location = {lat: #{@user.lat}, lon:#{@user.lon}}