%head
  %h1 #{@user.username}'s profile
  %hr
  .row
    .box-css
      .col-md-2
        = image_tag @user.avatar
      .col-md-3
        Username: 
        = @user.username
        %br
        Location: 
        = @user.town_city
        %br
        Country: 
        = @user.country
        %br
        
        = @user.description
      .col-md-3 
        #map-canvas
      .row
        .col-md-3
          - if current_user
            - if current_user.id != @user.id
              %h3 Messages with #{@user.username}
              #message-thread
                - @message_thread.each do |message|
                  = render message, :locals => {:message => message}
                  
              %h3 Send a message to #{@user.username}
              #message-compose
                = form_for @new_message do |f|
                  = f.hidden_field :recipient_id
                  = f.hidden_field :sender_id
                  .form-group
                    = f.text_area :content, {:class => 'form-control', :rows => 5}
                  = f.submit 'Reply', {:class => 'btn btn-primary', :id => "send-message"}
          - else
            %h3 
              = link_to "Sign up" , new_user_registration_path
              or
              = link_to "Sign in" , new_user_session_path
              to send a message to
              = "#{@user.username}"
              and see if they'll share some dough with you
  .col-md-4 
    .box-css
      
     
      -if @user.images.present?
        %h2 #{@user.username}'s photos
        %ul
        #slider.nivoSlider
          %img
            - @user.images.each do |image|
              = image_tag image.image_url
    
      = form_for @image do |f| 
        .field

        -if current_user  
          %br Upload images of your triumphs (and tragedies)
          %br
          = f.file_field :image
          %br
          .actions
          = f.submit 'Save'  
 
  :javascript
  $(window).load(function() {
      $('#slider').nivoSlider();
  });

  :javascript
    window.user_location = {lat: #{@user.lat}, lon:#{@user.lon}}